*
{ border:0; padding:0; margin:0; box-sizing:border-box; }

html, body, .wrapper
{ height:100%; }

a
{ text-decoration:none; color:black; }

.wrapper
{ display:flex; }

.picture
{ flex:1 0 auto; background-size:cover; background-position:center center; border:10px solid black; margin:20px; }

.picture img
{ display:none; }

.text
{ width:450px; font:22px/28px 'Alegreya', serif; overflow:scroll; padding:30px 30px 0 0; }

.text p
{ padding:0 0 20px 0; }

.text .title
{ font:56px/56px 'Yantramanav', sans-serif; padding:0; margin:0 0 120px 0; }

.text .title a
{ display:inline-block; }

.footer
{ font:56px/56px 'Yantramanav', sans-serif; padding:160px 0 30px 0; }

.footer p
{ padding:0; }

.footer p:last-of-type
{ padding:20px 0 0 0; }


@media only screen and (max-width:700px)
{
  .wrapper
  { display:block; width:100%; max-width:450px; margin:0 auto; padding:0 20px; }

  .picture
  { margin:20px 0 0; }

  .picture img
  { display:block; width:100%; }

  .text
  { width:100%; padding:20px 10px 30px; }

  .text .title
  { margin:0 0 40px 0; }

  .footer
  { padding:80px 0 0 0; }
}
