*
{ border:0px; padding:0px; margin:0px; }

body
{ font:2em/3em "Ek Mukta", sans-serif; background:black; }

a
{ text-decoration:none; color:black; }

.post-wrapper
{ }

.picture
{ }

.picture img
{ width:100%; height:100%; object-fit:cover; position:fixed; }


.words
{ width:100%; position:absolute; top:100%; margin-top:-6em; padding:3em; box-sizing:border-box; }

.words span 
{ box-shadow: -1em 0 0 white, 1em 0 0 white; background:white; color:black; box-decoration-break:clone; padding:0.25em 0; margin-right:3em; }
