*
{ border:0px; padding:0px; margin:0px; }

html, body
{ height:100%; }

body
{ font:16px "Ubuntu", "Ek Mukta", sans-serif; }

a 
{ text-decoration:none; color:white; }

.posts, .post
{ height:100%; }

.post
{ background:blue; border:1px solid red; }

.picture
{ position:fixed; left:0px; top:0px; width:100%; height:100%; background-size:contain; }

.words
{ float:right; position:relative; top:0px; xright:150px; width:300px; background:white; box-sizing:border-box; padding:20px; min-height:100%; z-index:2; }

.words p 
{ margin-bottom:20px; }

.nav
{ float:right; position:relative; top:0px; right:0px; background:black; padding:20px; box-sizing:border-box; min-height:100%; z-index:3; }

.clear-fix
{ clear:both; }
