*
{ border:0; padding:0; margin:0; box-sizing:border-box; }

html, body, .wrapper, .wrapper2
{ height:100%; }

a
{ text-decoration:none; color:black; }

.wrapper
{ font:20px/30px georgia, serif; display:flex; border:10px solid black; }

.wrapper2
{ border:10px solid white; }

.column1
{ border-right:10px solid black; display:flex; flex-direction:column; flex:1 100%; }

.picture
{ background-size:cover; flex:1 100%; background-position:center center; border:10px solid white; }

.email
{ border-top:10px solid black; padding:10px; }

.column2
{ display:flex; flex-direction:column; flex:none; width:350px; border-right:10px solid black; }

.header
{ padding:10px; border-bottom:10px solid black; }

.post
{ overflow:scroll; padding:10px; }

.post p
{ margin:0 0 30px; }

.post p:last-child
{ margin-bottom:10px; }

.column3
{ overflow:scroll; flex:none; text-align:center; padding:10px; }

.footer
{ margin-bottom:30px; }

/*@media only screen and (max-width:680px)
{
  .wrapper
  { font-size:20px; line-height:28px; }

  .post p
  { margin:28px 0; }

  .header
  { margin-top:0; }

  .footer
  { margin-bottom:0px; }
}*/
