---
layout: compress
---

<!doctype html>

<html lang="en">

<head>

<meta charset="utf-8" />
<title>withrye</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/style.css" />
<link rel="shortcut icon" href="/images/gomez.ico">
<link rel="icon" href="/images/gomez.gif">

<link href="https://fonts.googleapis.com/css?family=Alegreya%7CYantramanav:900" rel="stylesheet">

<script>

  function randomLink(randomLinkId) {
    if (randomLinkId.addEventListener) {
      randomLinkId.addEventListener('click', function(evt) {
        evt.preventDefault();
        window.location = '/' + (Math.ceil(Math.random() * {{ site.posts | size }}));
      }, false);
    }
    else {
      randomLinkId.attachEvent('onclick', function(evt) {
        evt.preventDefault();
        window.location = '/' + (Math.ceil(Math.random() * {{ site.posts | size }}));
      });
    }
  }
  window.onload = function() {
    randomLink(document.getElementById('random'));
  }

</script>

</head>

<body>

<div class="wrapper"><div class="wrapper2">

  {{ content }}

</div></div>

<script type="text/javascript">

let titleContainer = document.querySelector('.title-container');
let title = document.querySelector('.title');

window.addEventListener('scroll', () => {
	let cRect = titleContainer.getBoundingClientRect();
  let distance = 0 - cRect.top;
  title.style.marginTop = distance + 'px !important';
})

</script>

</body>

</html>
