---
layout: compress
---

<!doctype html>

<html lang="en">

<head>

<meta charset="utf-8" />
<title>withrye</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/style.css" />
<link rel="shortcut icon" href="/images/gomez.ico">
<link rel="icon" href="/images/gomez.gif">

<link href="https://fonts.googleapis.com/css?family=Alegreya%7CYantramanav:900" rel="stylesheet">

<script>

  function randomLink(randomLinkId) {
    if (randomLinkId.addEventListener) {
      randomLinkId.addEventListener('click', function(evt) {
        evt.preventDefault();
        window.location = '/' + (Math.ceil(Math.random() * {{ site.posts | size }}));
      }, false);
    }
    else {
      randomLinkId.attachEvent('onclick', function(evt) {
        evt.preventDefault();
        window.location = '/' + (Math.ceil(Math.random() * {{ site.posts | size }}));
      });
    }
  }

  window.onload = function() {
    randomLink(document.getElementById('random'));
    randomLink(document.getElementById('m-random'));
  }

</script>



</head>

<body>

<div class="wrapper">

  {{ content }}

</div>

</body>

</html>
