---
layout: default
---

<div class="column1">

  <div class="picture" style="background-image:url({{ site.baseurl }}/images/bg{{ page.title }}.jpg);">
    <img src="{{ site.baseurl }}/images/bg{{ page.title }}.jpg" alt="" />
  </div>

  <div class="bar1">

    <div class="email">
      <a href="mailto:heysup@withrye.com">heysup@withrye.com</a>
    </div>

    <div id="random">
      <a href="/?">Random</a>
    </div>

    {% if page.previous %}
    <div class="previous">
      <a href="{{ page.previous.url }}">Previous</a>
    </div>
    {% endif %}

  </div>


</div>

<div class="column2">

  <div class="bar2">

    {% if page.next %}
    <div class="next">
      <a href="{{ page.next.url }}">Next</a>
    </div>
    {% endif %}

    <div class="header">
      <a href="/" title="Home">withrye</a>
    </div>

  </div>

  <div class="post">
    {{ content }}
  </div>

</div>

<div class="column3">

  <div class="nav">
    {% for post in site.posts %}
      <a id="a{{ post.title }}" {% if page.title == post.title %}class="highlight {% if post.title == '1' %}first{% endif %}"{% endif %} href="{{ post.url }}">{{ post.title }}</a>
    {% endfor %}
  </div>

  <div class="gomez"></div>

</div>

<script>
  var nav = document.getElementById("a{{ page.title }}");
  nav.scrollIntoView({block: "start", behavior: "instant"});
</script>

<div class="m-footer">

  <div class="m-nav">

    {% if page.previous %}
      <div class="m-previous">
        <a href="{{ page.previous.url }}">Previous</a>
      </div>
    {% endif %}

    <div id="m-random">
      <a href="/?">Random</a>
    </div>

    {% if page.next %}
    <div class="m-next">
      <a href="{{ page.next.url }}">Next</a>
    </div>
    {% endif %}

  </div>

  <div class="m-email">
    <a href="mailto:heysup@withrye.com">heysup@withrye.com</a>
  </div>

  <div class="m-gomez">
    <a href="/" title="Home"><img src="{{ site.baseurl }}/images/gomez.gif" alt="" /></a>
  </div>

</div>
