---
layout: default
---

{% if page.no-image %}
{% else %}  
<div class="picture" style="background-image:url(/images/bg{{page.title}}.jpg);">
</div>
{% endif %}

<div class="words">
   {{ content }}
</div>

<div class="footer"> 
  <ul>
     {% if page.previous %} 
       <li><a href="{{page.previous.url}}">Previous</a></li> 
     {% endif %} 
     {% if page.next %} 
       <li><a href="{{page.next.url}}">Next</a></li>
     {% endif %} 
      <li><a href="/1">First</a></li>
      <li><a href="#" id="random">Random</a></li>
      <li><a href="/">Home</a></li>
      <li><a href="mailto:heysup@withrye.com">heysup@withrye.com</a></li>
      <li id="sup"><img src="/images/gomez.gif" /></li>
   </ul>
</div>
